
<nav class="navbar navbar-inverse" >
    <div class="container-fluid">


        <!-- Header -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}"> My-Instagram </a>
        </div>


        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">

            <ul class="nav navbar-nav">

                <!--<li {% if request.path == profile %}class="active" {% endif %} >-->
                 <li >
                    <a href="{% url 'dashboard' %}">
                        &nbsp; Profile
                    </a>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">

                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></a>
                      <ul class="dropdown-menu">

                          {% if user.is_authenticated %}

                           <li><a href="#">Settings</a></li>
                          {% endif %}
                          {% if not user.is_authenticated %}
                            <li><a href="{% url 'account_login' %}">Login</a></li>
                            <li><a href="{% url 'account_signup' %}">Signup</a></li>
                            {% endif %}

                      </ul>
                </li>
                {% if user.is_authenticated %}
                 <li class="">
                    <a href="{% url 'account_logout' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
                {% endif %}
            </ul>
                <!--search implementations-->
            <ul class="nav navbar-nav navbar-right">
                <li>
                <form class="navbar-form">
                    <div class="form-group" style="display:inline;">
                      <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                      </div>
                    </div>
                </form>
                </li>
            </ul>



        </div>

    </div>
</nav>