{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-lg-5 col-lg-offset-3">
        <div class="thumbnail" style="width: 100%;  border: 1px;">
            <a href="{{ image.image.url }}">
                <img src="{{ image.image.url }}" class="image-detail" style="width: 100%">
            </a>
            <div>
                <p class="lead">Comments</p>
                <form action="." method="post">
                    {{ comment_form|crispy}}
                    <input type="submit" value="Add comment" class="button">
                    {% csrf_token %}
                </form>
                <hr/>
                {% for comment in comments %}
                <div>
                    <small><strong>{{ comment.user }}</strong> | {{ comment.timestamp|timesince }} ago</small>
                    <br/>
                    {{ comment.content }}
                    <hr/>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
