{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
    {% for image in images %}
        <div class="col-lg-3 thumb" style="margin-bottom: 30px;">
             <a href="{{ image.get_absolute_url }}">
                            <img src="{{ image.image.url }}" class="img-responsive" style="width: 100%;">
             </a>
            <div class="caption">
                <p>
                   <img src="{{ image.user.profile.photo.url }}" class="img-circle" style="width: 40px; height: 40px; float: left; margin-top: 5px; margin-right: 5px;">
                    <h4>@{{ image.user.username }} <small>{{ image.created }}</small></h4>
                    <a href="{{ image.get_absolute_url }}" style="line-height: 0px">
                    </a>
                </p>
                    <p style="margin-top: 20px">{{ image.caption }}</p>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

